body {background-color:brgb(111, 75, 141)}
p {color: rgb(112, 127, 139);}
h1 {color: antiquewhite;}
h2 {color:rgb(203, 169, 223);}
body {color: aliceblue;
background-color: aquamarine;}
header {
    border-bottom: solid 3px;
    display: flex;
    justify-content: center;
}